# CAP mortgagecalc
_out
*.db
*.sqlite
*.sqlite-wal
*.sqlite-shm
connection.properties
/default-*.json
.cdsrc-private.json
gen/
node_modules/
target/
@cds-models

# SAPUI5
app/**/dist

# Web IDE, App Studio
.che/
.gen/

# MTA
Makefile_*.mta
*_mta_build_tmp
*.mtar
mta_archives/
mortgageformresources/
mtad.yaml

# Other
.DS_Store
*.orig
*.log

*.iml
*.flattened-pom.xml

# IDEs
# .vscode
# .idea
