# CAP mortgagecalc
_out
*.db
*.sqlite
*.sqlite-wal
*.sqlite-shm
connection.properties
/default-*.json
.cdsrc-private.json
gen/
node_modules/
target/

# SAPUI5
app/**/dist

# Web IDE, App Studio
.che/
.gen/

# MTA
*_mta_build_tmp
*.mtar
mta_archives/

# Other
.DS_Store
*.orig
*.log

*.iml
*.flattened-pom.xml

# IDEs
# .vscode
# .idea
